/*.main{width: 100%;height: 100%;}
.container {
   padding-right: 300px;
   padding-left: 300px;
   margin-right: auto;
   margin-left: auto;
}
.container:before,
.container:after {
  display: table;
  content: " ";
}
.container:after {
  clear: both;
}
@media (min-width: 768px) {
   .container {
      width: 750px;
}
.nisi{height: 310px;width: 100%;margin-bottom: 155px;margin-top: 75px;}
.ma{height: 310px;margin-bottom: 155px;}
.l{height: 310px;width: 30%;float: left;}
.m{height: 310px;width: 30%;float: left;margin-left: 10px;}
.r{height: 310px;width: 30%;float: left;margin-left: 10px;}
.npq{height: 415px;margin-bottom: 50px;}
.candle{height: 100%;width: 50%;float: left;}
.leaf{height: 100%;width: 50%;float: left;background: url(../images/xn_banner/12.png);text-align: center;padding: 50px 20px 0px 20px;}
.slideshow{height: 300px;width: 100%;margin-bottom: 160px;}
.kit{width: 100%;height: 100px;background: lightgrey;}



.keep_in_touch{
    padding: 5em 0;
    background-color: #E6E6E6;
}
.touch_text h3 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2.5em;
    color: #6ea145;
    margin: 0;
}

.touch_input{
    margin: 0.5em 0 0;
}

.touch_textp {
    font-size: 14px;
    color: #999;
    margin: 0;
}

.touch_input input[type="text"] {
    width: 80%;
    background: #fff;
    border: none;
    font-size: 14px;
    color: #A2A2A2;
    outline: none;
    padding: 14px 10px;
    float: left;
}

.touch_input input[type="submit"] {
    width: 20%;
    float: left;
    background: url(../images/1.png) no-repeat 56px 11px #6ea145;
    outline: none;
    border: none;
    padding: 13px 0;
    text-align: center;
    transition: .5s all;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
}

.touch_input input[type="submit"]:hover {
    background: url(../images/1.png) no-repeat 56px 11px #c6c5c0;
}





@media (max-width: 1024px) {
    .touch_text p {
        font-size: 13px;
    }
    .touch_text h3 {
        font-size: 2.2em;
    }
}

@media (max-width: 768px) {
    .keep_in_touch{
        padding: 3em 0;
    }

    .touch_text{
        text-align: center;
        margin: 0 0 1em;
    }
}

@media (max-width: 480px) {
    .touch_text h3 {
        font-size: 1.5em;
    }

    .keep_in_touch{
        padding: 2em 0;
    }

    .touch_input input[type="submit"] {
        background: url(../images/1.png) no-repeat 30px 11px #6ea145;
    }

    .touch_input input[type="submit"]:hover {
        background: url(../images/1.png) no-repeat 30px 11px #c6c5c0;
    }
}

@media (max-width: 320px) {
    .touch_text p {
        font-size: 12px;
    }

    .touch_text h3 {
        font-size: 1.2em;
    }

    .keep_in_touch{
        padding: 1em 0;
    }

    .touch_input input[type="text"] {
        font-size: 13px;
        padding: 10px 10px;
    }

    .touch_input input[type="submit"] {
        padding: 8px 0;
        background: url(../images/1.png) no-repeat 14px 7px #6ea145;
    }

    .touch_input input[type="submit"]:hover {
        background: url(../images/1.png) no-repeat 14px 7px #c6c5c0;
    }

    .get_in_touch h3 {
        letter-spacing: 0px;
        font-size: 1.1em;
    }
}*/

#content{width: 100%;}
#content .nisi1 img{}
#content .nisi2{font-size: 36px;}
#content .nisi2 .nisi2_3{color:#6c9d4c;font-family:'Josefin Sans';}
#content .nisi2 .nisi2_1{font-size: 16px;color: #b1432c;}
#content .nisi2 .nisi2_2{font-size: 14px;}

#content .part2s{padding-top: 160px;}
#content .part2s .part2{padding-left: 0;}
#content .part2s .part2 .part2a{border: solid #dfdfdd;border-width: 1px 2px 1px 0px;}
#content .part2s .part2 .part2a .part2_1{width: 100%;}
#content .part2s .part2 .part2a .part2_2{color: #b1432c;font-size: 20px;margin-top: 22px;font-family:'Josefin Sans';}
#content .part2s .part2 .part2a .part2_3{margin-top: 18px;}
#content .part2s .part2 .part2a button{margin-bottom: 40px;}

#content .banner{padding-top: 161px;color: #fff;}
#content .banner .banner1{margin-bottom: 48px;height: 407px;}
#content .banner .banner1 .banner1_1{padding: 0;}
#content .banner .banner1 .banner1_1 img{min-height: 407px;}
#content .banner .banner1 .banner1_2{padding: 1.5em;background: url(../images/xn_banner/12.png) no-repeat;background-size:100% 100%;min-height: 407px;}
#content .banner .banner1 .banner1_2 .banner1_2a{font-size: 24px;font-family:'Josefin Sans';}
#content .banner .banner1 .banner1_2 .banner1_2b{font-size: 18px;margin-top: 22px;margin-bottom:26px;color: #72963c;}

#content .banner .banner2{padding:0;height: 300px;}
#content .banner .banner2 .banner2_1{background: url(../images/xn_banner/13.png) no-repeat;background-size:100% 100%;min-height: 300px;padding: 1.5em;}
#content .banner .banner2 .banner2_1 .banner2_1a{font-size: 24px;font-family:'Josefin Sans';}
#content .banner .banner2 .banner2_2{padding: 0;}
#content .banner .banner2 .banner2_2 .banner2_2a{padding-right:15px;}
#content .banner .banner2 .banner2_2 .banner2_2a img{min-height: 300px;}
#content .banner .banner2 .banner2_3{background: url(../images/xn_banner/15.png)no-repeat;background-size:100% 100%;min-height: 300px;text-align:center;line-height: 300px;}
#content .banner .banner2 .banner2_3 button{ margin:0 auto;}
#content .carousel-inner{margin-bottom: 100px;position: relative;}
#content .ban-list{width: 107px;height: 20px;position: absolute;bottom: -66px;left: 74%;}
#content .ban-list li{float: left;width: 20px;height: 20px;border-radius: 50%;background: #6ea145;margin-left: 15px;}
#content .ban-list .active{background:#777777;}

#content .shuru{width: 100%;height: 227px;background: #e6e6e6;padding: 100px;}
#content .shuru .shuru1 .shuru1_1{font-size: 32px;color: #6ea145;margin: 0;}
#content .shuru .shuru2 input:first-child{height: 48px;border-radius: 0;float: left;width: 80%;}
#content .shuru .shuru2 input:last-child{margin-left: -4px;height: 48px;border-radius: 0;font-size: 24px;float: left;width: 20%;font-family: "å®‹ä½“";}

@media (max-width:992px){
	#content .nisi2 .nisi2_3{font-size: 24px;}
}
@media (max-width:762px){
	#content .shuru .shuru1 .shuru1_1{font-size: 20px;}
	#content .shuru .shuru1 .shuru1_2{font-size: 12px;}
	#content .banner .banner1{height: 814px;}
	#content .banner .banner2{height: 900px;}
	#content .banner .banner2 .banner2_2 .banner2_2a{padding: 0;}
	#content .banner .banner2 .banner2_2 .banner2_2a img{margin:0;width: 100%;}
	
}

